.container {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: #F5FCFF;
}

.flex {
  flex: 1;
}

.flexCenter {
  flex: 1;
  justify-content: center;
}

.stretch {
  align-self: stretch;
}

.bgRed {
  background: red;
}
