.container {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: #F5FCFF;
}

.horizontalContainer {
  @extend .container;

  flex-direction: row;
  align-self: stretch;
}

.divider {
  margin-bottom: 10px;
}

.textCenter {
  text-align: center;
}

.flex {
  flex: 1;
}

.flexCenter {
  flex: 1;
  justify-content: center;
}

.stretch {
  align-self: stretch;
}

.bgRed {
  background: red;
}
